body {
    margin: 0;
}
#banner {
    background: url("./images/top-banner.png");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

#banner div {
    width: 50%;
    padding: 90px;
}
#banner p {
    font-size: 20px;
    color: gray;
}
#banner button {
    background-color: crimson;
    color: white;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 5px;
}
.title {
    font-size: 50px;
}
.anas-name {
    color: crimson;
}

#banner img {
    width: 100%;
}
